.jumbotron-banner-one{
    background: url('https://cdn.kastatic.org/googleusercontent/7W_eJDhHw7WbKjL9Eoe2TVjUbhUN1dCEdHDFPkpEk9pMqQvBGX0GoRGMsW45b7oGS3Sf2v-4o7ciunB72PCQYty3FQ');
    border-radius: 0;
    height: 30rem;
    background-size: cover;
}